# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib

# Jupyter
.ipynb_checkpoints/
notebooks/outputs/

# Data/Models
/data/*.csv
/models/*.pkl

# Node/Next.js
node_modules/
.next/
dist/
.DS_Store
.env
.env.*
